---
import PrimaryLink from "../components/links/PrimaryLink.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Daar ging iets fout!">
    <article class="px-6 mt-6">
        <p class="font-bold text-2xl mb-4 md:text-4xl">
            Het lijkt erop dat er iets is fout gegaan!
        </p>
        <p class="font-light md:text-xl">
            We kunnen de pagina die je zoekt niet vinden.
        </p>
        <PrimaryLink
            label="Terug naar home"
            linkTo="/"
            styles="block mt-6 sm:w-fit sm:mt-10"
        />
    </article>
</Layout>
