---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import Breadcrumbs from "../components/links/Breadcrumbs.astro";
import { appUrls } from "../consts/appUrls";
import ContactForm from "../components/ContactForm.astro";

const breadcrumbs = [
    { label: "Home", linkTo: appUrls.home.base },
    { label: "Contact" },
];
---

<Layout title="Contact">
    <nav class="mt-6">
        <Breadcrumbs breadcrumbs={breadcrumbs} />
    </nav>
    <div class="lg:grid lg:grid-cols-2 lg:mb-6">
        <aside class="lg:px-6 lg:my-6">
            <Image
                alt="foto van zwevend tv-meubel"
                src={import(
                    "../images/carpentry/built-in-closet-kontich-img01.jpeg"
                )}
                class="lg:rounded-md"
            />
        </aside>
        <article class="px-6 mt-6">
            <p class="font-bold uppercase md:text-xl">Contact</p>
            <p class="mt-2 mb-6 font-light md:text-lg">
                Stuur ons gerust een bericht met jouw vraag en we helpen je
                graag verder!
            </p>
            <ContactForm />
        </article>
    </div>
</Layout>
