---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import PrimaryCard from "../components/PrimaryCard.astro";
---

<Layout title="Galerij">
    <article
        class="px-6 my-6 md:grid md:grid-cols-2 gap-6 lg:grid-cols-3 justify-between"
    >
        <div class="mb-6">
            <PrimaryCard
                heading="Schrijn- & Meubelmakerij"
                imageSrc="../images/cover.jpg"
                imageAlt="cover foto"
            />
        </div>
        <div class="mb-6">
            <PrimaryCard
                heading="Schilderwerken"
                imageSrc="../images/cover.jpg"
                imageAlt="cover foto"
            />
        </div>
        <div class="mb-6">
            <PrimaryCard
                heading="Vloer- & tegelwerken"
                imageSrc="../images/cover.jpg"
                imageAlt="cover foto"
            />
        </div>
        <div class="mb-6">
            <PrimaryCard
                heading="Keukens"
                imageSrc="../images/cover.jpg"
                imageAlt="cover foto"
            />
        </div>
        <div class="mb-6">
            <PrimaryCard
                heading="Badkamers"
                imageSrc="../images/cover.jpg"
                imageAlt="cover foto"
            />
        </div>
        <div class="mb-6">
            <PrimaryCard
                heading="Buitenwerken"
                imageSrc="../images/cover.jpg"
                imageAlt="cover foto"
            />
        </div>
    </article>
</Layout>
