---
const listItemStyles = "text-sm font-light py-1";
---

<footer class="bg-gray-50 mt-auto p-6 flex flex-col">
    <div class="flex justify-around">
        <div>
            <div>Sitemap</div>
            <ul>
                <li class={listItemStyles}><a href="/">Home</a></li>
                <li class={listItemStyles}>
                    <a href="/galery">Galerij</a>
                </li>
                <li class={listItemStyles}>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div>
            <div>Contact</div>
            <ul>
                <li class={listItemStyles}>Mail ons</li>
            </ul>
        </div>
    </div>
    <div class="font-light text-xs text-center mt-6 text-gray-400">
        All rights reserved. &#169; MB Renovatie 2022.
    </div>
</footer>
