---
import Breadcrumbs from "../../components/links/Breadcrumbs.astro";
import { appUrls } from "../../consts/appUrls";
import Layout from "../../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";

const breadcrumbs = [
    { label: "Home", linkTo: appUrls.home.base },
    { label: "Galerij", linkTo: appUrls.galery.base },
    { label: "Vloer- & tegelwerken" },
];
---

<Layout title="Vloer- en tegelwerken">
    <Breadcrumbs breadcrumbs={breadcrumbs} />
    <article
        class="px-6 my-4 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3"
    >
        <Image
            alt="Lichte laminaatvloer"
            src={import("../../images/floors-and-tiles/flooring-img03.jpg")}
            class="lg:max-h-[99%]"
        />
        <Image
            alt="Betegelde toog met grijze verticale wandtegels"
            src={import("../../images/floors-and-tiles/tiles-img01.jpeg")}
            class="max-h-[99%]"
        />
        <Image
            alt="Badkamervloer met grijze tegels"
            src={import("../../images/floors-and-tiles/flooring-img04.jpg")}
        />
        <div class="sm:flex sm:flex-col sm:justify-between">
            <Image
                alt="Lichte parketvloer"
                src={import("../../images/floors-and-tiles/flooring-img01.jpg")}
                class="mb-4 sm:mb-0"
            />
            <Image
                alt="Lichte laminaatvloer"
                src={import("../../images/floors-and-tiles/flooring-img02.jpg")}
                class="lg:hidden"
            />
        </div>
        <Image
            alt="Donkeren laminaatvloer met knoesten"
            src={import("../../images/floors-and-tiles/flooring-img05.jpeg")}
        />
        <Image
            alt="Lichte laminaatvloer"
            src={import("../../images/floors-and-tiles/flooring-img06.jpeg")}
        />
        <Image
            alt="Badkamervloer met grijze tegels"
            src={import("../../images/floors-and-tiles/tiles-img03.jpeg")}
            class="xl:w-[110vw]"
        />

        <div class="sm:flex md:flex-col sm:justify-between">
            <Image
                alt="Betegeld bad met wandtegels met marmeren look "
                src={import("../../images/floors-and-tiles/tiles-img02.jpeg")}
                class="mb-4 sm:mb-0"
            />
            <Image
                alt="Betegelde douche met wandtegels met marmeren look "
                src={import("../../images/floors-and-tiles/tiles-img04.jpeg")}
                class="mb-4 sm:mb-0"
            />
            <Image
                alt="Lichte laminaatvloer"
                src={import(
                    "../../images/floors-and-tiles/flooring-img07.jpeg"
                )}
            />
        </div>
        <Image
            alt="Betegelde douchewand met verticale groen-grijze wandtegels"
            src={import("../../images/floors-and-tiles/tiles-img05.jpeg")}
            class="xl:max-h-[99%]"
        />
    </article>
</Layout>
