---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SEO } from "astro-seo";

export interface Props {
    seoTitle: string;
    seoDescription: string;
    title: string;
}

const { title, seoTitle, seoDescription } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="generator" content={Astro.generator} />
        <SEO
            title={seoTitle}
            description={seoDescription}
            twitter={{
                creator: "@jnsbne",
            }}
        />
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
        <style is:global>
            html,
            body {
                height: 100%;
                width: 100%;
            }
            body {
                display: flex;
                flex-direction: column;
            }
        </style>
    </body>
</html>
